<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Items in {{ name }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename = 'style.css') }}" />
</head>

<body>

  <table id="header">
    <tr>
      <td>
        <h1>The Call of the Wild</h1>
        <h3 style="color: Black">Camping and Hiking Items Catalog</h3>
      </td>

      <td align="right">
        {% if login is none %}
        <form action="{{ url_for('login')}}">
          <input type="submit" value="Log in">
        </form>
        {% else %}
        <form action="{{ url_for('logout')}}">
          <input type="submit" value="Log out">
        </form>
        {% endif %}
      </td>

    </tr>
  </table>
  <table id="content_tbl">
    <tr>
      <td id="menu_col" valign="top">
        <h2 style="color: Black">Categories</h2>

        {% for c in categories %}

        <a href="{{url_for('list_items', category_name = c.name) }}"
        style="color: Red">{{ c.name }}</a><br>

        {% endfor %}

      </td>

      <td id="content_col" valign="top">
        {% if login is not none %}
        <a href="{{ url_for('add_item') }}" style="color: Red">Add Item</a>
        {% endif %}

        <h2 style="color: Black">{{ name }} Items ({{ count }} items)</h2>

        {% for i in items %}

        <a href="{{url_for('show_item', category_name = name,
        item_name = i.name) }}" style="color: Red">
          {{ i.name }}
        </a><br>

      {% endfor %}

    </td>
  </tr>
</table>

</body>
</html>
